.banner__container {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  margin-bottom: 60px;
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    margin-bottom: 76px;
  }
}

.banner__wrapperLeft {
  margin-bottom: 55px;
  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.banner__wrapperRight {
  display: flex;
  align-items: center;
  background: url("../img/banner-ellipse-mobile.svg") 80% 50% no-repeat;
  @media (min-width: @tablet-width) {
    background: url("../img/banner-ellipse.svg") 85% 50% no-repeat;
  }
}

.banner__title {
  .bold-secondary();
  color: @text-color-secondary;
  margin: 0;
  margin-bottom: 30px;
  font-size: 35px;
  line-height: 42px;
  text-align: left;
  @media (min-width: @tablet-width) {
    display: inline-block;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 1px;
    margin-top: 95px;
    margin-bottom: 50px;
  }
}

.banner__car-picture {
  width: 100%;
  height: auto;
  @media (min-width: @tablet-width) {
    margin-top: 20px;
  }
}

.banner__title-decor {
  color: @lid-color;
}
