.competitions__container {
  margin-bottom: 60px;
  @media (min-width: @tablet-width) {
    margin-bottom: 100px;
  }
}

.competitions__title {
  color: @text-color-secondary;
  .bold-secondary();
  font-size: 36px;
  line-height: 46px;
  margin-top: 0;
  margin-bottom: 30px;
}

.competitions__list {
  margin: 0 -15px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.competitions__item {
  position: relative;
  padding: 0 15px;
}

.competitions__item-wrapper {
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
}

.competitions__picture {
  width: 100%;
  height: auto;
}

.competitions__wrap {
  padding-left: 20px;
}

.competitions__item-list-title {
  margin-top: 10px;
  margin-bottom: 5px;
}

.competitions__price {
  .bold-secondary();
  color: @lid-color;
  font-size: 30px;
  line-height: 38px;
  margin-right: 5px;
}

.competitions__old-price {
  .medium-secondary();
  color: #999999;
  font-size: 20px;
  line-height: 26px;
}

.competitions__item-list-text {
  margin-top: 12px;
 @media (min-width: @tablet-width) {
   margin-top: 5px;
 }
}


.competitions__link {
  position: absolute;
  padding: 18px 15px;
  background-color: @bright;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  right: 15px;
  bottom: 0;
  @media (min-width: @tablet-width) {
    padding: 8px 12px;
  }
}

.competitions__arrow-icon {
  width: 20px;
  height: 13px;
}
