.competitions__container {
  margin-bottom: 60px;
  @media (min-width: @tablet-width) {
    margin-bottom: 100px;
  }
}

.competitions__title {
  color: @text-color-secondary;
  .bold-secondary();
  font-size: 36px;
  line-height: 46px;
  margin-top: 0;
  margin-bottom: 30px;
}

.competitions__list {
  list-style: none;
  display: flex;
  justify-content: center;
  height: 310px;
  padding: 0;
  @media (min-width: @tablet-width) {
    margin: 0 -15px;
  }
}

.competitions__item {
  position: relative;
  padding: 0 15px;
  top: 15px;
  left: 15px;
}

.competitions__item::before {
  content: "";
  position: absolute;
  max-width: 270px;
  max-height: 283px;
  width: 100%;
  height: 100%;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.competitions__wrap {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  max-width: 250px;
}

.competitions__item-list-title {
  .bold-secondary();
  margin-top: 11px;
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 26px;
}

.competitions__price {
  .bold-secondary();
  color: @lid-color;
  font-size: 30px;
  line-height: 38px;
  margin-right: 5px;
}

.competitions__old-price {
  .medium-secondary();
  color: #999999;
  font-size: 20px;
  line-height: 26px;
}

.competitions__bottom-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 40px;
  @media (min-width: @tablet-width) {
    align-items: baseline;
  }
}

.competitions__item-list-text {
  margin-top: 20px;
  font-size: 14px;
  line-height: 19px;

 @media (min-width: @tablet-width) {
   margin-top: 2px;
   font-size: 16px;
   line-height: 22px;
 }
}

.competitions__link {
  padding: 13px 10px;
  background-color: @bright;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  @media (min-width: @tablet-width) {
    padding: 8px 12px;
  }
}

.competitions__arrow-icon {
  width: 20px;
  height: 13px;
}
