.competitions {
  margin-bottom: 60px;
  @media (min-width: @tablet-width) {
    margin-bottom: 100px;
  }
}

.item-list__item {
  position: relative;
}

.competitions__title {
  color: @text-color-secondary;
  .bold-secondary();
  font-size: 36px;
  line-height: 46px;
  margin-top: 0;
  margin-bottom: 30px;
}

.item-list__link {
  position: absolute;
  padding: 10px 13px;
  background-color: @bright;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  right: 0;
  bottom: 0;
}

.item-list__arrow-icon {
  width: 16px;
  height: 10px;
}
