.footer__container{
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__logo {
  margin: 16px 15px 16px 0;
  @media (max-width: @tablet-width) {
  margin: 0;
  }
}

.footer__navigation {
  font-size: 14px;
  line-height: 19px;
  @media (max-width: @tablet-width) {
    margin-top: 30px;
  }
}

