.page__reviews {
  margin-bottom: 60px;
  background-color: rgba(52, 108, 217, 0.12);
  @media (min-width: @tablet-width) {
    margin-bottom: 100px;
    padding: 0;
  }
}

.reviews__wrapper {
  height: 400px;
}

.reviews__item {

}

.reviews__blockquote {
  display: inline-block;
  width: 50%;
  margin: 0;
}

.reviews__wrapper-img {
  display: inline-block;
}

.reviews-text {
  margin: 7px 120px 20px 120px;
  .bold-basic();
  color: @text-color-secondary;
  font-size: 20px;
  line-height: 30px;
}

.reviews__author {
  .reg-basic();
  font-style: normal;
}

.slick-dots {
  display: flex;
  list-style: none;
  margin-top: 30px;
}

.slick-dots li {
  margin-right: 15px;
}

.slick-dots button {
  height: 15px;
  width: 15px;
  border: none;
  border-radius: 100%;
  font-size: 0;
  background-color: @lid-color;
}
