.winners {
  margin-bottom: 60px;
  @media (min-width: @tablet-width) {
    margin-bottom: 100px;
  }
}

.winners__list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.winners__picture {
  width: 100%;
  height: auto;
}

.winners__title {
  .bold-secondary();
  font-size: 36px;
  line-height: 46px;
  color: @text-color-secondary;
  margin-top: 0;
}

.winners__item-list-title {
  margin-top: 20px;
}

.winners__text {
  margin-bottom: 15px;
}
