.winners {
  margin-bottom: 60px;
  @media (min-width: @tablet-width) {
    margin-bottom: 100px;
  }
}

.winners__list {
  display: flex;
  flex-direction: row;
}

.winners__picture {
  width: 270px;
  height: 200px;
}

.winners__title {
  .bold-secondary();
  font-size: 36px;
  line-height: 46px;
  color: @text-color-secondary;
  margin-top: 0;
}

.winners__item-list-title {
  margin-top: 20px;
}

.winners__text {
  margin-bottom: 15px;
}
