/* Файл variables.less */
/* Файл global.less */
img {
  max-widht: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Файл fonts.less */
@font-face {
  font-family: 'OpenSans__reg';
  src: url('../fonts/OpenSans-Regular.eot');
  src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Regular.woff2') format('woff2'), url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.ttf') format('truetype'), url('../fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'OpenSans__semiBold';
  src: url('../fonts/OpenSans-SemiBold.eot');
  src: url('../fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-SemiBold.woff2') format('woff2'), url('../fonts/OpenSans-SemiBold.woff') format('woff'), url('../fonts/OpenSans-SemiBold.ttf') format('truetype'), url('../fonts/OpenSans-SemiBold.svg#OpenSans-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rajdhani_bold';
  src: url('../fonts/Rajdhani-Bold.eot');
  src: url('../fonts/Rajdhani-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Rajdhani-Bold.woff2') format('woff2'), url('../fonts/Rajdhani-Bold.woff') format('woff'), url('../fonts/Rajdhani-Bold.ttf') format('truetype'), url('../fonts/Rajdhani-Bold.svg#Rajdhani-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rajdhani_medium';
  src: url('../fonts/Rajdhani-Medium.eot');
  src: url('../fonts/Rajdhani-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Rajdhani-Medium.woff2') format('woff2'), url('../fonts/Rajdhani-Medium.woff') format('woff'), url('../fonts/Rajdhani-Medium.ttf') format('truetype'), url('../fonts/Rajdhani-Medium.svg#Rajdhani-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* Файл button.less */
.button {
  font-family: 'OpenSans__semiBold', sans-serif;
  display: inline-block;
  padding: 10px 23px;
  border: 0;
  border-radius: 5px;
  box-sizing: border-box;
  text-decoration: none;
}
.button--login {
  color: #FF2E63;
  background: #fff;
  padding: 0;
}
.button--register {
  color: #fff;
  background-color: #FF2E63;
}
.button--basic {
  color: #fff;
  background-color: #346CD9;
}
.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 182px;
  margin-left: 15px;
}
@media (max-width: 768px) {
  .button-wrapper {
    position: absolute;
    top: 450px;
    margin: 0;
    transform: translate(-215%, 0px);
    transition: transform 0.5s ease-in-out 0.5s;
  }
}
/*Button popup*/
.button-toggle {
  display: none;
}
@media (max-width: 768px) {
  .button-toggle {
    display: inline-block;
    position: relative;
    width: 25px;
    height: 25px;
    background-color: #FF2E63;
    border-radius: 5px;
  }
}
.button-toggle__burger {
  margin-top: 11px;
  margin-left: 5px;
}
.button-toggle__burger,
.button-toggle__burger::before,
.button-toggle__burger::after {
  position: absolute;
  background-color: #fff;
  width: 15px;
  height: 3px;
  border-radius: 7px;
}
.button-toggle__burger::before,
.button-toggle__burger::after {
  content: '';
  display: block;
  transition: 0.6s;
}
.button-toggle__burger::before {
  transform: translateY(-5px);
}
.button-toggle__burger::after {
  transform: translateY(5px);
}
.button--active span {
  height: 0;
}
.button--active span::before {
  transform: rotate(45deg);
}
.button--active span::after {
  transform: rotate(-45deg);
}
/*Button styles :hover*/
@media (min-width: 768px) {
  .button-second::before {
    position: absolute;
    content: attr(data-hover);
    color: #fff;
    transition: transform 0.5s, opacity 0.3s;
  }
  .button-second:hover::before {
    opacity: 0;
    transform: scale(1.1);
  }
  .button-second {
    color: #000;
  }
  .button-first {
    position: relative;
    margin-right: 10px;
  }
  .button-first::after {
    position: absolute;
    top: 25px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    content: '';
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    transform: translateY(10px);
  }
  .button-first:hover::after {
    opacity: 1;
    transform: translateY(0);
  }
  .button-lid::before {
    position: absolute;
    content: attr(data-hover);
    color: #fff;
    transition: transform 0.5s, opacity 0.3s;
  }
  .button-lid:hover::before {
    opacity: 0;
    transform: scale(0.9);
  }
  .button-lid {
    color: #000;
  }
}
/* Файл page.less */
.page {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
  color: #252A34;
  font-family: 'OpenSans__reg', sans-serif;
  font-size: 16px;
  line-height: 22px;
}
.page--noScroll {
  overflow: hidden;
}
.container {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .container {
    max-width: 1200px;
  }
}
/* Файл main-nav.less */
@media (min-width: 768px) {
  .page__header {
    margin-top: 30px;
  }
}
@media (min-width: 768px) {
  .header__container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    background-color: #fff;
    transition: 0.6s;
    overflow: hidden;
  }
}
@media (max-width: 768px) {
  .header--bg {
    background-color: #FF2E63;
    transition: 0.6s;
  }
}
@media (max-width: 768px) {
  .popup-wrapper {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 100px;
    transform: translate(-115%, 0px);
    transition: transform 0.5s ease-in-out 0.5s;
    background-color: #fff;
    overflow: hidden;
  }
}
.popup-open {
  transform: translate(0px, 0px);
}
.main-nav {
  font-family: 'OpenSans__semiBold', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0 -15px;
  padding: 0;
  list-style: none;
  font-size: 20px;
  line-height: 27px;
}
@media (min-width: 768px) {
  .main-nav {
    flex-direction: row;
    font-size: 14px;
    line-height: 19px;
  }
}
.main-nav__item {
  margin-bottom: 30px;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .main-nav__item {
    margin-bottom: 0;
  }
}
.main-nav__link {
  position: relative;
  color: #252A34;
  text-decoration: none;
}
.main-nav__link--light {
  color: #fff;
}
@media (min-width: 768px) {
  .main-nav__link:hover {
    color: #d9a134;
    transition: color 0.3s;
  }
  .main-nav__link::before,
  .main-nav__link::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #d9a134;
    content: "";
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
  }
  .main-nav__link::before {
    top: -3px;
    transform: translateY(-10px);
  }
  .main-nav__link::after {
    bottom: -3px;
    transform: translateY(10px);
  }
  .main-nav__link:hover::before,
  .main-nav__link:hover::after {
    opacity: 1;
    transform: translateY(0px);
  }
}
/* Файл logo.less */
.logo {
  font-family: 'Rajdhani_bold', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 30px;
  margin: 0;
  line-height: 38px;
  letter-spacing: 1px;
  margin-right: 15px;
}
.logo__decor {
  color: #FF2E63;
}
.logo--dark {
  color: #343434;
}
.logo--light {
  color: #fff;
  transition: 0.6s;
}
/* Файл banner.less */
.banner__container {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  margin-top: 147px;
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .banner__container {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    margin-bottom: 76px;
  }
}
.banner__wrapper-left {
  margin-bottom: 55px;
}
@media (min-width: 768px) {
  .banner__wrapper-left {
    width: 40%;
    margin-bottom: 0;
  }
}
.banner__wrapper-right {
  background: url("../img/banner-ellipse-mobile.svg") 80% 50% no-repeat;
}
@media (min-width: 768px) {
  .banner__wrapper-right {
    width: 60%;
    background: url("../img/banner-ellipse.svg") 85% 50% no-repeat;
  }
}
.banner__title {
  font-family: 'Rajdhani_bold', sans-serif;
  color: #343434;
  margin: 0;
  margin-bottom: 30px;
  font-size: 35px;
  line-height: 42px;
  text-align: left;
}
@media (min-width: 768px) {
  .banner__title {
    display: inline-block;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 1px;
    margin-top: 95px;
    margin-bottom: 50px;
  }
}
.banner__intro {
  margin-top: 75px;
}
.banner__car-picture {
  margin-left: -40px;
  width: 400px;
}
@media (min-width: 768px) {
  .banner__car-picture {
    width: 755px;
    height: 302px;
    margin-left: -2px;
  }
}
.banner__title-decor {
  color: #FF2E63;
}
/* Файл competitions.less */
.competitions__container {
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .competitions__container {
    margin-bottom: 100px;
  }
}
.competitions__title {
  color: #343434;
  font-family: 'Rajdhani_bold', sans-serif;
  font-size: 36px;
  line-height: 46px;
  margin-top: 0;
  margin-bottom: 30px;
}
.competitions__list {
  list-style: none;
  display: flex;
  justify-content: center;
  height: 310px;
  padding: 0;
}
@media (min-width: 768px) {
  .competitions__list {
    margin: 0 -15px;
  }
}
.competitions__item {
  position: relative;
  padding: 0 15px;
  top: 15px;
  left: 15px;
}
.competitions__item::before {
  content: "";
  position: absolute;
  max-width: 270px;
  max-height: 283px;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.competitions__wrap {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  max-width: 250px;
}
.competitions__item-list-title {
  font-family: 'Rajdhani_bold', sans-serif;
  margin-top: 11px;
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 26px;
}
.competitions__price {
  font-family: 'Rajdhani_bold', sans-serif;
  color: #FF2E63;
  font-size: 30px;
  line-height: 38px;
  margin-right: 5px;
}
.competitions__old-price {
  font-family: 'Rajdhani_medium', sans-serif;
  color: #999999;
  font-size: 20px;
  line-height: 26px;
}
.competitions__bottom-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 40px;
}
@media (min-width: 768px) {
  .competitions__bottom-wrap {
    align-items: baseline;
  }
}
.competitions__item-list-text {
  margin-top: 20px;
  font-size: 14px;
  line-height: 19px;
}
@media (min-width: 768px) {
  .competitions__item-list-text {
    margin-top: 2px;
    font-size: 16px;
    line-height: 22px;
  }
}
.competitions__link {
  padding: 13px 10px;
  background-color: #346CD9;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media (min-width: 768px) {
  .competitions__link {
    padding: 8px 12px;
  }
}
.competitions__arrow-icon {
  width: 20px;
  height: 13px;
}
/* Файл advantages.less */
.advantages__container {
  text-align: center;
}
@media (min-width: 768px) {
  .advantages__container {
    margin-bottom: 100px;
  }
}
.advantages__title {
  font-family: 'Rajdhani_bold', sans-serif;
  text-align: center;
  color: #343434;
  font-size: 36px;
  line-height: 46px;
  margin-bottom: 10px;
  margin-top: 0;
}
@media (min-width: 768px) {
  .advantages__title {
    margin-bottom: 60px;
  }
}
.advantage-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 -15px;
  list-style: none;
}
@media (min-width: 768px) {
  .advantage-list {
    display: flex;
    flex-direction: row;
  }
}
.advantage__item {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 180px;
  margin: 0 auto;
  margin-bottom: 50px;
  color: #343434;
}
@media (min-width: 768px) {
  .advantage__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-bottom: 0;
    padding: 0 15px;
  }
}
.advantage__item:not(:last-child)::after {
  position: absolute;
  content: '';
  width: 25px;
  height: 40px;
  background: url("../img/arrow-down.svg") no-repeat;
  left: 113px;
  bottom: -38px;
}
@media (min-width: 768px) {
  .advantage__item:not(:last-child)::after {
    position: absolute;
    content: '';
    width: 40px;
    height: 25px;
    background: url("../img/arrow-right.svg") no-repeat;
    left: 95%;
    top: 22px;
  }
}
.advantage__icon {
  width: 64px;
  height: 64px;
}
/* Файл reviews.less */
.page__reviews {
  margin-bottom: 60px;
  background-color: rgba(52, 108, 217, 0.12);
}
@media (min-width: 768px) {
  .page__reviews {
    margin-bottom: 100px;
    padding: 0;
  }
}
.reviews__wrapper {
  height: 400px;
}
.reviews__wrapper .reviews__item.slick-slide {
  display: flex;
  text-align: center;
  position: relative;
}
.reviews__blockquote {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  margin-top: 55px;
  gap: 40px;
}
@media (min-width: 768px) {
  .reviews__blockquote {
    width: 50%;
    margin-top: 78px;
    gap: 30px;
  }
}
@media (max-width: 768px) {
  .reviews__wrapper-img {
    display: none;
  }
}
.reviews-text {
  width: 400px;
  margin: 0;
  font-family: 'OpenSans__semiBold', sans-serif;
  color: #343434;
  font-size: 20px;
  line-height: 30px;
}
.reviews__author {
  font-family: 'OpenSans__reg', sans-serif;
  font-style: normal;
}
.reviews__wrapper .slick-dots {
  position: absolute;
  left: 37%;
  bottom: 70px;
  display: flex;
  list-style: none;
  margin: 0 -7px;
}
@media (min-width: 768px) {
  .reviews__wrapper .slick-dots {
    left: 18.5%;
  }
}
.reviews__wrapper .slick-dots li {
  padding: 0 7px;
}
.reviews__wrapper .slick-dots button {
  height: 15px;
  width: 15px;
  border: none;
  border-radius: 100%;
  font-size: 0;
  background-color: rgba(255, 46, 99, 0.33);
}
.reviews__wrapper .slick-dots .slick-active button {
  background-color: #FF2E63;
}
/* Файл winners.less */
.winners__container {
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .winners__container {
    margin-bottom: 100px;
  }
}
.winners__title {
  font-family: 'Rajdhani_bold', sans-serif;
  font-size: 36px;
  line-height: 46px;
  color: #343434;
  margin-top: 0;
}
.winners__list {
  display: flex;
  justify-content: center;
  list-style: none;
  height: 310px;
  padding: 0;
}
@media (min-width: 768px) {
  .winners__list {
    margin: 0 -15px;
  }
}
.winners__item {
  position: relative;
  padding: 0 15px;
  top: 15px;
  left: 15px;
}
.winners__item::before {
  content: "";
  position: absolute;
  max-width: 270px;
  max-height: 288px;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.winners__wrap {
  padding-left: 20px;
}
.winners__item-list-title {
  font-family: 'Rajdhani_bold', sans-serif;
  font-size: 20px;
  line-height: 26px;
  margin: 0;
  margin-top: 10px;
}
.winners__text {
  font-size: 14px;
  line-height: 19px;
  margin: 0;
  margin-top: 7px;
  margin-bottom: 20px;
}
/* Файл footer-page.less */
.page__footer {
  background-color: #346CD9;
}
@media (max-width: 768px) {
  .page__footer {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media (min-width: 768px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.footer__logo {
  margin: 16px 15px 16px 0;
}
@media (max-width: 768px) {
  .footer__logo {
    margin: 0;
  }
}
.footer__main-nav {
  font-size: 14px;
  line-height: 19px;
}
@media (max-width: 768px) {
  .footer__main-nav {
    margin-top: 30px;
  }
}
/* Файл sliders.less */
.slick-arrow {
  position: absolute;
  width: 40px;
  height: 40px;
  border: none;
  font-size: 0;
}
.slick-next {
  background: url("../img/slider-arrow-right.svg") center no-repeat;
  top: 50%;
  transform: translateY(-50%);
  right: -25px;
}
.slick-prev {
  background: url("../img/slider-arrow-left.svg") center no-repeat;
  top: 50%;
  transform: translateY(-50%);
  left: -25px;
}
/*# sourceMappingURL=style.css.map */
