img {
  max-widht: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.slider-reviews .slick-dots {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.slider-reviews .slick-dots li:not(:last-child) {
  margin-right: 15px;
}

.slider-reviews .slick-dots button {
  width: 10px;
  height: 10px;
  padding: 0;
  border: 0;
  border-radius: 100%;
  font-size: 0;
  background-color: rgba(255, 46, 99, 0.33);
}

.slider-reviews .slick-active button {
  background-color: @lid-color;
}

.slider--arrows .slick-slider {
  position: relative;
}

.slider--arrows .slick-arrow {
  position: absolute;
  height: 28px;
  width: 35px;
  font-size: 0;
  border: 0;
}

.slider--arrows .slick-prev {
  top: 50%; transform: translateY(-50%);
  left: -20px;
  background: url("../img/slider-arrow-left.svg") center center no-repeat;
}

.slider--arrows .slick-next {
  top: 50%; transform: translateY(-50%);
  right: -17px;
  background: url("../img/slider-arrow-right.svg") center center no-repeat;
}

.slider-list .slick-list {
  width: 270px;
  border-radius: 10px;
  box-shadow: 0 5px 10px 1px lightgray;
}
